<!doctype html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta content="text/javascript">
    <meta name="keywords" content="Literki, Gra, Słownik, Zgadywanie">
    <meta name="author" content="Bartosz Szymański">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"> -->
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body>
    <div id="game-screen">
        <div id="screen-top">
            <div id="guess-screen">

            </div>
        </div>
        <div id="screen-bottom">
            <div id="input">
                {% for field in range(word_length) %}
                    <div id="field_{{field}}" class="field"></div>
                {% endfor %}
            </div>
            <div id="keyboard">
                {% for row in keyboard_layout %}
                    <div class="keyboard-row">
                    {% for key in row %}
                        <div class="keyboard-key" id="key_{{key}}" onclick="key_click('{{key}}');">{{key}}</div>
                    {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <script src="../static/js/index.js"></script>
    <script>
        var word_length = {{word_length}};
        var max_tries = {{max_tries}};
        var keyboard_status = {};
        var guess_word = [];
        {% for key in keyboard_status %}
            keyboard_status["{{key}}"] = "{{keyboard_status[key]}}";
        {% endfor %}
    </script>

</body>
</html>